DATABASE_URL="postgresql://xx:xx@localhost:5432/nats"
STORAGE_DRIVER="local"
SESSION_SECRET="ds12a324vADJ123#@"
MINIO_ENDPOINT="localhost"
MINIO_PORT="9000"
MINIO_USE_SSL="false"
MINIO_ACCESS_KEY=""
MINIO_SECRET_KEY=""
MINIO_BUCKET_NAME="nats-files"
MINIO_PUBLIC_ENDPOINT="localhost"
MINIO_PUBLIC_PORT="9000"
